@import "tailwindcss";

@theme inline {
  --color-background: #020617; /* slate-950 */
  --color-foreground: #f8fafc; /* slate-50 */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #3b82f6; /* blue-500 */
  --color-primary-hover: #2563eb; /* blue-600 */
  --color-accent: #8b5cf6; /* violet-500 */
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased font-sans;
  }
}
